div.body
h1=name

       
form(action='/test', method='post')
  #News
  p='news'
    - each section in articles.news
        div.section
        ul
          li
            input(type='text', name='index[' + section.index + ']', value=section.articlename)
          li
            div.p=section.section
          br

  #Sports
  p='sports'
    - each section in articles.sports
        div.section
        ul
          li
             div.p=section.articlename
          li
             div.p=section.section
          br

  #Edit
  p='Edit'
    - each section in articles.editorial
        div.section
        ul
          li
            div.p=section.articlename
          li
            div.p=section.section
          br

  #Recess
  p='Recess'
    - each section in articles.recess
        div.section
        ul
          li
            div.p=section.articlename
          li
            div.p=section.section
          br
  input(type='submit', value='Upload')
    
